body {
    max-width: 100vw;
    /* display: flex; */
    background: silver;
    font-family: 'Open Sans', sans-serif;
}


#navBar {
  width: 100%;
  /* margin-left: -7em; */
}

nav {
  display: flex;
  position: fixed;
  top: 0px ;
  left: 0px ;
  z-index: 1;
  flex-direction: row;
  /* align-content: left; */
  justify-content: center;
  height: 7em;
  width: 100%;
}

.bar {
  max-height: fit-content;
  display: flex;
  background: rgba(192, 192, 192, 0.788);
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  /* margin-right: 10px; */
}

.navButton {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
    text-decoration: none;
    color:  #910d10;
    flex-grow: 1;
    margin-right: 10px;
}  
 
  nav h1 {
    flex-grow: 2;
    /* position: relative; */
    margin-left: 2em;
    /* !!~!!!!!!!!!!!!!!!!!!!!!!^ in mobile media query, take out margin-left */
    /* margin-top: -.2em; */
  }

  .navButton:hover {
    transform: scale(1.07);
    color:  #3e2d20;
    transition: .2s ease-in-out;
    text-decoration: 1.2px #3e2d20 underline;
    text-decoration-style: double;
  }

  .navButton:active{
    color: #743f27;
    /* text-decoration-color: #74553b; */
    transition: none;
}









/* HOME */



#home {
  padding-top: 4em;
  /* margin-bottom: 2em; */
  border-bottom: 9em solid #910d10 ;
}


.hero-image {
  background-image:radial-gradient(rgba(0, 0, 0, 0.11), rgba(0, 0, 0, 0.514)),url("media/DJI_0074.JPG");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 3em;
  /* margin-left: -.5em; */
}

.hero-text {
  text-align: center;
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12em;
  transform: translate(-50%, -50%);
  color: rgb(228, 224, 224);
  letter-spacing: 2px;
}

.welcome {
  font-size: 2em;
  letter-spacing: .3em;
  word-spacing: .6em;
  line-height: 2em;
  color: #ffffff;
}

.MH {
  font-size: 2.5em;
  /* margin-top: -.5em; */
  letter-spacing: .19em;
  opacity: .5;
}









/* ABOUT */

#about {
  display: grid;
  padding-top: 3em;
  padding-bottom: 6em;
  height: fit-content;
  margin-bottom: 2.5em;
  align-content: center;
  color: #3e2d20;
}

.aboutT {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 4em;
  /* margin-top: -.4em; */
  margin-bottom: 1em;
  font-family:  'Open Sans', sans-serif;
  justify-self: center;
  letter-spacing: 3px;
}


.aboutContent {
  grid-column: 1/2;
  grid-row: 3/4;
  margin-top: -.5em;
  margin-left: 2em;
  margin-right: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.7em;
  text-align: left;
  /* margin-right: 2em; */
  
}


.aboutImage {
  background:white;
  justify-self: center;
  filter: brightness(50%);
 
  /* height: 39em; */
  width: 96%;
  grid-column: 1/2;
  grid-row: 2/3;
}






/* PORTFOLIO */
#portfolio {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  height: fit-content;
  border-top: 9em solid #3e2d20;
  padding-bottom: 9em;
  
}

.portTitle {
  font-size: 4em;
  /* margin-top: -.4em; */
  text-align: center;
  font-family:  'Open Sans', sans-serif;
  letter-spacing: 3px;
  color: #64090b;
  margin-bottom: .2em;
}

.portIntro{
  text-align: center;
  font-size: 1.4em;
  font-family: 'Open Sans', sans-serif;
  word-spacing: 2px;
  line-height: 1.9em;
  font-weight: 400;
  margin-right: 2em;
  margin-left: 2em;
  color: rgb(75, 72, 72);
  padding-bottom: 1em;
}

.demo-gallery {
  text-align: center;
}

.demo-gallery > ul {
  margin-bottom: 0;
  padding-left: 15px;
}

.demo-gallery > ul > li {
  margin-bottom: 15px;
  width: 180px;
  display: inline-block;
  margin-right: 15px;
  list-style: outside none none;
}

.demo-gallery > ul > li a {
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}

.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}

.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}

.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}

.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}

.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}



/* FOOTER */

footer {
  display: grid;
  grid-template-rows: 2;
  padding-top: 2em;
  padding-bottom: 2em;
  height: fit-content;
  margin-bottom: -10;
  background: gray;
  justify-content: space-evenly;
  align-content: center;
  width: 100%;
}

footer img {
  height: auto;
  width: 12em;
  grid-row: 1;

}