body {
    width: 100%;
    /* display: flex; */
    background: silver;
}


#navBar {
  width: 100%;
  /* margin-left: -7em; */
}

nav {
  display: flex;
  position: fixed;
  top: 0px ;
  left: 0px ;
  z-index: 1;
  flex-direction: row;
  /* align-content: left; */
  justify-content: center;
  height: 7em;
  width: 100%;
}

.bar {
  max-height: fit-content;
  display: flex;
  background: rgba(192, 192, 192, 0.788);
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  /* margin-right: 10px; */
}

.navButton {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    color:  #910d10;
    flex-grow: 1;
    margin-right: 10px;
}  
 
  nav h1 {
    flex-grow: 2;
    /* position: relative; */
    margin-left: 2em;
    /* !!~!!!!!!!!!!!!!!!!!!!!!!^ in mobile media query, take out margin-left */
    /* margin-top: -.2em; */
  }

  .navButton:hover {
    transform: scale(1.07);
    color:  #3e2d20;
    transition: .2s ease-in-out;
    text-decoration: 1.2px #3e2d20 underline;
    text-decoration-style: double;
  }

  .navButton:active{
    color: #743f27;
    /* text-decoration-color: #74553b; */
    transition: none;
}









/* HOME */



#home {
  padding-top: 4em;
  /* margin-bottom: 2em; */
  border-bottom: 9em solid #910d10 ;
}


.hero-image {
  background-image:radial-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.678)),url("http://www.ashland-ne.com/pages/image_rotator/BXDVoCo.jpg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  width: 100%;
  margin-top: 3em;
  /* margin-left: -.5em; */
}

.hero-text {
  text-align: center;
  font-family: 'Lato', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2em;
  transform: translate(-50%, -50%);
  color: silver;
  letter-spacing: 2px;
}

.welcome {
  font-size: 2em;
  line-height: 2em;
}

.MH {
  font-size: 2.4em;
  /* margin-top: -.5em; */
  letter-spacing: 5px;
  opacity: .5;
}









/* ABOUT */

#about {
  padding-top: 3em;
  display: grid;
  height: fit-content;
  margin-bottom: 2.5em;
  align-content: center;
  color: #64090b;
}

.aboutT {
  grid-column: 1/2;
  grid-row: 1/2;
  font-size: 4em;
  /* margin-top: -.4em; */
  margin-bottom: 1em;
  font-family:  'Open Sans', sans-serif;
  justify-self: center;
  letter-spacing: 3px;
}


.aboutContent {
  grid-column: 1/2;
  grid-row: 3/4;
  margin-top: -.5em;
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.7em;
  text-align: left;
  /* margin-right: 2em; */
  
}


.aboutImage {
  background:white;
  justify-self: center;
  filter: brightness(70%);
 
  /* height: 39em; */
  width: 96%;
  grid-column: 1/2;
  grid-row: 2/3;
}